@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

@font-face {
  font-family: 'SDMontserrat';
  src: url('https://assets.website-files.com/5ecfe3add0194393eabdf182/5f668d5803a8b2b7b7897594_Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SDMontserrat';
  src: url('https://assets.website-files.com/5ecfe3add0194393eabdf182/5f66906e94338c4c4562f131_Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SDMontserrat';
  src: url('https://assets.website-files.com/5ecfe3add0194393eabdf182/5f66907e3f0b547011b942ac_Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SDMontserrat';
  src: url('https://assets.website-files.com/5ecfe3add0194393eabdf182/5f66928d40354b5f38a80c27_Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

hr {
  border-top:0;
  border-color: #F0F0F0;
  margin:30px 0 50px;
}

/* Header section starts here */
pre {
  border: 0 !important;
  background-color: rgb(245, 247, 249);
}

@media (max-width:600px) {
  code {
    word-break: break-all;
  }
}

/* Image styling */

img {
  max-width: 100%;
}

figure {
  margin: 30px auto;
}

/* end image */

/* video iframe */

iframe[src*="player.vimeo"]{
  width:56vw;height:36vw;min-width:280px;min-height:180px;
}

iframe[src*="www.youtube"]{
  width:56vw;height:31.5vw;min-width:280px;min-height:180px;
}


/* end video iframe */

.heading1 {
  font-family: SDMontserrat, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heading2 {
  font-family: SDMontserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: -30px;
  padding-top: 80px;
}

div > section:first-child > h2:first-child {
  padding-top:30px;
}

.heading3 {
  font-family: SDMontserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: -50px;
  padding-top: 80px;
}

.heading4 {
  font-family: SDMontserrat, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heading5 {
  font-family: SDMontserrat, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.heading6 {
  font-family: SDMontserrat, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.paragraph {
  margin: 16px 0;
  line-height: 1.625;
}

.gatsby-resp-image-figcaption {
  text-align: center;
  font-style: italic;
  margin-top: 5px;
  font-size: 14px;
}

@media (max-width:1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media (min-width:1280px) and (max-width:1599px) {
  .hide-tablet {
    display: none !important;
  }
}
@media (min-width:1600px) {
  .hide-desktop {
    display: none !important;
  }
}

main ol > li,
section ol > li {
  margin-top:0.5em;margin-bottom:0.5em;
}

main ul > li,
section ul > li {
  margin-top:0.5em;margin-bottom:0.5em;
}

main pre,
section pre {
  margin-top:1.25em;margin-bottom:1.25em;
  line-height: 1.5em;
}

main pre pre,
section pre pre {
  margin-top:0;margin-bottom:0;
}

/* Custom Styles */

.Wrapper_sdmdocs main.context_main__,
.Wrapper_sdmdocs main.context_main__2__ {
  background:url("https://www.strongdm.com/images/docrocket8.png") no-repeat right center;background-size:cover;
}

.Wrapper_sdmstyle main.context_main__,
.Wrapper_sdmstyle main.context_main__2__ {
  background:url("https://www.strongdm.com/images/docrocket_stylized_night.png") no-repeat right center;background-size:cover;
}

main.context_main__,
main.context_main__2__ {

  background-position: 83% middle;
  position: fixed;
  top: 77px;
  left: 318px;
  right: 0;
  bottom: 0;
  overflow: auto;

  @media (min-width:1280px) and (max-width:1599px) {
    top: 67px;
  }

  @media (max-width:1279px) {
    left: 0px;
    top: 50px;
  }

  @media (max-width: 600px) {
    background-position:90% center;
  }

  .pageTitle {
    display:none;
  }

  & > div {
    padding-bottom:50px;
  }

  h1.heading1 {
    margin-top: 32px;
  }

}

.HeaderWrapper_sdmstyle .trialButton {
  display:none;
}

.docs-home-hero-text {
  padding:1vw 3vw;
  color:white;
  h1 {
      font-family: SDMontserrat, sans-serif;
      font-weight: 600;
      font-size: 3vw;
      line-height:1.1;
      @media (max-width:700px) {
        font-size: 21px;
      }
      @media (min-width:1800px) {
        font-size: 54px;
      }
  }
  p {
      margin-top: 20px;
      opacity:0.9;
      font-size: 1vw;
      line-height:1.5;
      @media (max-width:1400px) {
        font-size:14px;
      }
      @media (min-width:1800px) {
        font-size:18px;
      }
      a {
        color: #FFCC00;
      }
  }
  @media (max-width: 1279px) {
    padding-left: 35px;
  }
  @media (max-width: 600px) {
    padding-left: 15px;
    flex-basis: 55% !important;
    text-shadow: 0 0 5px #006799;
    br {
      display: none;
    }
  }
}


@media (min-width:1000px) {
  .layout-el:nth-of-type(2) {
    max-width:80%;
  }
}

.docs-hero-button-block {
  margin-top:30px;
  min-width:280px;
  .over-button {
    opacity: 0.8;
    font-size:14px;
    font-weight:300;
  }
  .over-button + a {
    display: inline-block;
    margin:10px 0;
    padding: 20px 28px;
    border-radius: 4px;
    background-color: #00b7ff;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
    color: #f5fafc;
    font-size: 1.4em;
    text-align: center;
    font-family: SDMontserrat, sans-serif;
    font-weight: 400;
  }
}

.ContentTreeGroup[content="Release Notes"] {
  margin-top:20px;
  padding-top:20px;
  border-top-width: 1px;
  border-top-style: solid;
}

div > ul > .ContentTreeNode:first-of-type > a:not([cleanto="/release-notes"]) {
    font-family: SDMontserrat, sans-serif;
    font-weight:600;
    letter-spacing:1.25px;
    text-transform: uppercase;
    font-size:13px;
    color: #00b7ff;
}

div > ul > .ContentTreeNode:first-of-type > a[cleanto="/"] {
  font-size:13px;
}

.ContentTreeGroup > span {
    display:none !important;
}

.SubLinkList {
  padding: 10px 30px !important;
  background:rgba(204,204,204,0.15) !important;
}

.react-reveal {
  opacity: 1 !important;
  animation-fill-mode: backwards !important;
}

#gatsby-plugin-page-progress {
  background-color:#00B7FF !important;
}
